{% extends '../_base.html' %}
{% load static %}
{% block header %}{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/register_login.css' %}">
{% endblock %}
{% block content %}
    <div class="auth-form">
        <form id="login-form" class="rl-style">
            {% csrf_token %}
            <div class="section-title">
                <h4 class="h4-style" style="letter-spacing: 5px;">Login</h4>
            </div>
            <input required type="text" name="username" placeholder="Username" class="form-control bg-transparent p-4" />
            <input required type="password" name="password" placeholder="Password" class="form-control bg-transparent p-4" />
            <button id="login-form-btn" name="login-form" style="margin-top: auto" class="btn btn-primary font-weight-bold py-3 px-5 mx-auto" type="submit">Login</button>
        </form>
        <form id="register-form" class="rl-style" method="POST">
            {% csrf_token %}
            <div class="section-title">
                <h4 class="h4-style" style="letter-spacing: 5px;">Register</h4>
            </div>
            <input required type="text" name="username" placeholder="Username" class="form-control bg-transparent p-4" />
            <input required type="password" name="password" placeholder="Password" class="form-control bg-transparent p-4" />
            <input required type="password" name="confirm_password" placeholder="Confirm Password" class="form-control bg-transparent p-4" />
            <input id="phone_number" type="text" name="phone_number" placeholder="PhoneNumber" class="form-control bg-transparent p-4" />
            <button id="register-form-btn" style="margin-top: auto" name="register-form" class="btn btn-primary font-weight-bold py-3 px-5 mx-auto" type="submit">Register</button>
        </form>
    </div>
{% endblock %}
{% block extra_body %}
    <script src="{% static 'js/account/register.js' %}"></script>
    <script src="{% static 'js/account/login.js' %}"></script>
{% endblock %}