{% extends '../_base.html' %}
{% load static %}
{% block header %}{{ block.super }}
{% endblock %}
{% block content %}
    {% for product in data %}
        <div class="product-show">
            <div class="product-image" style="height: 308px">
                <h5 class="menu-price">${{ product.price }}</h5>
                {% if  product.images %}
                    <img id="main-image" class="product-main-image" src="/media/product/images/site_image.jpeg" style="height: 308px; width: 308px" alt="No Image Available">
                	{% else %}
                    <img id="main-image" class="product-main-image" src="{{ product.images.0.src }}" alt="{{ product.images.0.alt }}">
                    <div class="product-images" >
                        {% for image in product.images %}
                            <img onclick="changeImage(src, alt)" class="product-sub-images" src="{{ image.src }}" alt="{{ image.alt }}">
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="product-description">
                <div>
                    <div>
                        {% for parent in product.category.parent %}
                            <a href="/api/category/{{ parent }}/">{{ parent }}</a> >
                        {% endfor %}
                        <a href="/api/category/{{ product.category.name }}/">{{ product.category.name }}</a>
                    </div>
                    <h4 class="text-[150%] "><i class="fa-solid fa-diamond"></i> {{ product.name }}</h4>
                    <hr class="hr-product">
                    <p class="p-3">{{ product.description }}</p>
                </div>
            </div>
            <i id="p-favorite" onclick="changeFavoriteStatus()" class="fa-regular fa-heart product-favorite-item absolute"></i>
            <div style="align-self: flex-end; flex-direction: column; display: flex">
                <div class="product-items">
                    <i onclick="addToCart()" class="fa-solid fa-cart-plus product-cart-item"></i>
                    <input type="number" class="quantity-input-simple " value="1" min="1">
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
