{% extends '_base.html' %}
{% load static %}
{% block header %}{{ block.super }}
{% endblock %}
{% block content %}
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Menu & Pricing</h4>
            </div>
        </div>
        <div class="menu-container">
            <hr>
            <div id="menu-products" class="menu-products"></div>
        </div>
    </div>
{% endblock %}
{% block extra_body %}
    <script src="{% static 'js/products/show_products_by_category.js' %}"></script>
{% endblock %}